body {
    background-color: #2A0C20;
      color: white;
}

.face {
    background-color: r;
}

.header {
    background-color: orange;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    background-color: #2D2E30;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu img {
    max-height: 500px;
    max-width: 350px;
}

img {
    border-color: black;
    border-style: solid;
    border: 4px;
    border-radius: 15px;
}

.space {


    background-color: green;
    height: 500px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

p {
    border: 2px solid white;
    color: white;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}
porti{
    padding-top: 60px;
}
a {
    color: white;
font-family: 'Ubuntu', sans-serif;
}

.submit-button {
    background-color: chartreuse;
    color: darkgreen;
}

submit-button {
    background-color: chartreuse;
    color: darkgreen;
}
.empty {
    height: 50%;
}
.empty2 {
    height: 39%;
}

span {
    color: white;
}

a {
    display: block;
    padding: 8px;
    background-color: 333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: black;
}
