body {
    font-family: 'Poiret One', cursive;
    background-color: #000000;
    color: white;
}

.x {
    color: white;
    font-size: 2em;
}

iframe {
    min-width: 600px;
    min-height: 400px;
}

.right {
    object-position: right;
}

.header {
    background-color: orange;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    font-family: 'Poiret One', cursive;
    background-color: #2D2E30;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu img {
    max-height: 500px;
    max-width: 350px;
}

img {
    border-color: black;
    border-style: solid;
    border: 4px;
    border-radius: 15px;
}

.space {
    background-color: green;
    height: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul: li {
    float: left;
}

.submit-button {
    background-color: chartreuse;
    color: darkgreen;
}

a {
    font-size: 2em;
    font-weight: 300;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    color: beige;
}


/*
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
*/


}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
}
