.face {
    background-color: orange;
}

.header {
    background-color: orange;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    background-color: #2D2E30;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu img{
    max-height: 500px;
    max-width: 350px;
}

.other {}

.img {
   border:"5px solid black"
}
